<!DOCTYPE html>
<html data-ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS validation plugin for Twitter Bootstrap</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container" data-ng-controller="exampleCtrl">
	<h4 class="page-header">Basic validation example</h4>
	<form data-validate="test" ng-submit="submit()">
		<div class="form-group">
			<label for="input">Input</label>
			<input type="number" class="form-control" id="input" ng-model="input" required ng-if="this['inputType']"/>
			<input type="text" class="form-control" id="input" ng-model="input" ng-if="!this['inputType']"/>
			<button type="button" ng-click="this['inputType']=!this['inputType']">Switch input</button>
		</div>
		<div class="form-group">
			<label for="select">Select</label>
			<select class="form-control" id="select" ng-model="select" required>
				<option></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" ng-model="email" required/>
		</div>
		<div class="form-group">
			<label for="url">Url</label>
			<input type="text" class="form-control" id="url" ng-model="url" validate-url/>
		</div>
		<div class="form-group">
			<label for="host">Host</label>
			<input type="text" class="form-control" id="host" ng-model="host" validate-host/>
		</div>
		<div class="form-group">
			<label for="minlength">MinLength</label>
			<input type="text" class="form-control" id="minlength" ng-model="minlength" minlength="10"/>
		</div>
		<div class="form-group">
			<label for="equal">Equal</label>
			<input type="text" class="form-control" id="equal" ng-model="equal" validate-equal="minlength"
				   data-validate-equal-msg="This field must be equal to minlength"/>
		</div>
		<ng-form validate="subForm">
			<div class="form-group">
				<label for="sub-input">Some required input (in sub ng-form)</label>
				<input type="text" class="form-control" id="sub-input" data-ng-model="sub" required/>
			</div>
		</ng-form>
		<div class="row">
			<div class="col-md-6">
				<div>
					Is it dirty: {{isDirtyForm('test')}}
				</div>
				<button type="button" ng-click="submitJS()">Validate from JS</button>
				<button type="button" ng-click="reset()">Reset</button>
				<button>Submit</button>
			</div>
			<div class="col-md-6">
				<div>
					Is it dirty - sub form: {{isDirtyForm('subForm')}}
				</div>
				<button type="button" ng-click="validateSub()">Validate subForm from JS</button>
			</div>
		</div>
	</form>
	<h4 class="page-header">Another form - not affected by validation of form 1</h4>
	<form data-validate="test2">
		<div class="form-group">
			<label for="input">Input</label>
			<input type="number" class="form-control" id="input" ng-model="input" required/>
		</div>
		<div>
			Is it dirty: {{isDirtyForm('test2')}}
		</div>
	</form>
</div>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../dist/js/angularjs-bootstrap-validate.js"></script>
<script type="text/javascript" src="example.js"></script>
</body>
</html>
